#!/bin/env bash

# ============ Path config ============

# For enabling k8s krew 
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Source go
export PATH="$HOME/go/bin:$PATH"
export GOPATH="$HOME/go"

# Source local binaries
export PATH="$HOME/.local/bin:$PATH"

# Nix
export PATH="$HOME/.nix-profile/bin:$PATH"

# ============ Editor config ============

{{- $hasNvim := lookPath "nvim" -}}
{{ if $hasNvim }}
alias v=nvim
alias vi=nvim
alias vim=nvim
{{ end }}

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  {{ if $hasNvim }}
  export EDITOR='nvim'
  {{ else }}
  export EDITOR='vim'
  {{ end }}
fi

# Change kubectl editor
export KUBE_EDITOR=$EDITOR

# Change systemd edit editor
# TODO: Need to change visudo also... (Defaults  env_keep += "SYSTEMD_EDITOR")
export SYSTEMD_EDITOR=$EDITOR

# Change default editor 
export VISUAL=$EDITOR

# Change git editor
export GIT_EDITOR=$EDITOR

# ============ Variables ============

export STARSHIP_CONFIG="${HOME}/.config/starship.toml"

# ============ Auxiliary Function ============

command_exists() {
  command -v "$@" >/dev/null 2>&1
}

{{- $hasKubectl := lookPath "kubectl" -}}
{{- $hasHelm := lookPath "helm" -}}
{{- $hasStarship := lookPath "starship" -}}
{{- $hasFzf := lookPath "fzf" -}}
{{- $hasZoxide := lookPath "zoxide" -}}
{{- $hasUv := lookPath "uv" -}}
{{- $hasFlux := lookPath "flux" -}}

{{- $hasGoto := stat (printf "%s/.local/share/goto/goto.sh" .chezmoi.homeDir) }}

{{ if $hasGoto }}
# ============ enable goto =============
source ${HOME}/.local/share/goto/goto.sh

{{ end -}}
# Enable autocompletion
{{ if $hasKubectl -}} source <(kubectl completion bash) {{- end }}
{{ if $hasHelm -}} source <(helm completion bash) {{- end }}
{{ if $hasStarship -}} eval "$(starship init bash)" {{- end }}
{{ if $hasFzf -}} source <(fzf --bash) {{- end }}
{{ if $hasUv -}} source <(uv generate-shell-completion bash) {{- end }}
{{ if $hasFlux -}} source <(flux completion bash) {{- end }}

{{- if $hasZoxide }}
# ============ Enable zoxide ============

eval "$(zoxide init bash)"

{{- end }}
# ============ Fix keybindings ============

# Needs to run the following lines if the zkbd file does not exist
# autoload zkbd; zkbd

# if test -f ~/.zkbd/$TERM-${${DISPLAY:t}:-$VENDOR-$OSTYPE}; then
#     source ~/.zkbd/$TERM-${${DISPLAY:t}:-$VENDOR-$OSTYPE}
    
#     [[ -n ${key[Backspace]} ]] && bindkey "${key[Backspace]}" backward-delete-char
#     [[ -n ${key[Insert]} ]] && bindkey "${key[Insert]}" overwrite-mode
#     [[ -n ${key[Home]} ]] && bindkey "${key[Home]}" beginning-of-line
#     [[ -n ${key[PageUp]} ]] && bindkey "${key[PageUp]}" up-line-or-history
#     [[ -n ${key[Delete]} ]] && bindkey "${key[Delete]}" delete-char
#     [[ -n ${key[End]} ]] && bindkey "${key[End]}" end-of-line
#     [[ -n ${key[PageDown]} ]] && bindkey "${key[PageDown]}" down-line-or-history
#     [[ -n ${key[Up]} ]] && bindkey "${key[Up]}" up-line-or-search
#     [[ -n ${key[Left]} ]] && bindkey "${key[Left]}" backward-char
#     [[ -n ${key[Down]} ]] && bindkey "${key[Down]}" down-line-or-search
#     [[ -n ${key[Right]} ]] && bindkey "${key[Right]}" forward-char
# fi

# ============ Start SSH Agent =============

# Ensure agent is running
# ssh-add -l &>/dev/null
# if [ "$?" == 2 ]; then
#     # Could not open a connection to your authentication agent.

#     # Load stored agent connection info.
#     test -r ~/.ssh-agent && \
#         eval "$(<~/.ssh-agent)" >/dev/null

#     ssh-add -l &>/dev/null
#     if [ "$?" == 2 ]; then
#         # Start agent and store agent connection info.
#         (umask 066; ssh-agent > ~/.ssh-agent)
#         eval "$(<~/.ssh-agent)" >/dev/null
#     fi
# fi

# # Load identities
# ssh-add -l &>/dev/null
# if [ "$?" == 1 ]; then
#     # The agent has no identities.
#     # Time to add one.
#     ssh-add $HOME/.ssh/...
# fi
